<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="database" value="NetbarUrl"/>
    <!--config-->
    <add key="dbConfig" value="YQ_Count"/>
    <add key="serCom" value="8656DEDE3B8A7CE201F5ED31D9A78974"/>
    <add key="unCom" value="A5136969AD7CBB95"/>
    <add key="pwdCom" value="9BE43F198BF93E5846BD3CEC1DCF6FFE"/>
  </appSettings>
</configuration>
